<div class="col-sm-12">

    <div class="row">
      <div class="col-sm-6 details-labels">
        <label>Project Name : </label><label>&nbsp;{{selectedProject.Project_Name}}</label>
        </div>
        <div class="col-sm-6 details-labels">
        <label>Test Name : </label><label>&nbsp;{{selectedTestType.Testing_Type_Name}}</label>
        </div>
    </div>

  <div class="wrapper">
    <form  #form="ngForm"  (ngSubmit)="submit(form.value)">   
    <div class="toggle_radio">
      <input type="radio"  class="toggle_option" value="start"  id="first_toggle" name="toggle_option" (click)="wipProgress($event)" [(ngModel)]="toggle_option" >
      <input type="radio" checked class="toggle_option" value="wip" id="second_toggle" name="toggle_option" (click)="wipProgress($event)" [(ngModel)]="toggle_option">
      <input type="radio" class="toggle_option" value="closed" id="third_toggle" name="toggle_option" (click)="wipProgress($event)" [(ngModel)]="toggle_option">
      <label for="first_toggle">
        <p>START</p>
      </label>
      <label for="second_toggle">
        <p>WIP</p>
      </label>
      <label for="third_toggle">
        <p>CLOSED</p>
      </label>
      <div class="toggle_option_slider">
      </div>
    </div>

    <div class="box-status">

      <div class="root">
        <div class="holder">

          <ul class="progressbar" #progressbar (click)="progressPercent($event);" >
            <li  #zero value="0">0%</li>
            <li  #twenty value="20">20%</li>
            <li  #fourty value="40">40%</li>
            <li  #sixty value="60">60%</li>
            <li  #eighty value="80">80%</li>
            <li  #hundred value="100">100%</li>
          </ul>
      </div>
     </div>

      <div style="padding-left: 43%; padding-right: 43%;padding-top: 10%; width: 100%">
        <button class="button" type="submit" >SUBMIT</button>
      </div>

    </div>
     

    </form>
  </div>


  <div [ngStyle]="{'display': isNewUserProject}" class="modal" id="newUserProject">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
   
        <div class="modal-header">
          <h4 class="modal-title">Map Project To User?</h4>
          <span  class="close" (click) = "closeModal();" data-dismiss="modal">&times;</span>
        </div>
  

        <div class="modal-body">
          This project is not mapped to the user. Do you want to continue?
        </div>

        <div class="modal-footer">  
          <button type="button" class="btn btn-warning" (click)="submitUnmappedAudit();" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-danger"  data-dismiss="modal" (click)= "closeModal();">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  

