
.box-status{
    margin: 3%;
    padding: 5%;
    padding-top: 3%
}

.details-labels{
  text-align: center;
  padding-top: 10px;
  color: #FF9900;
}

button
{
    padding: 5px !important;
    color: white !important;
    background-color: #616161 !important;
    border: solid 1px #DDD !important;
    width: 100%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
}


.wrapper {
  margin: 60px 0;
}

/* .toggle_radio{                             // Uncomment to revert changes
  position: relative;
  background: rgba(255,255,255,.1);
  background-color:  #616161;
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 100%;
  width: 318px;
} */

.toggle_radio{  
  position: relative;
  background: rgba(255,255,255,.1);
  background-color:  #616161;
  margin: 2% auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /* -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%; */
  height: 70%;
  width: 50%
  /* width: 773px; */
}

.toggle_radio > * {
  float: left;
}

.toggle_radio input[type=radio] {
  display: none;
  /*position: fixed;*/
}

/* .toggle_radio label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  background-color:  #616161;
  z-index: 0;
  display: block;
  width: 100px;
  height: 100%;
  margin: 3px 3px;
  padding-top: 6%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
} */

/* .toggle_radio label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  background-color:  #616161;
  z-index: 0;
  display: block;
  width: 250px;
  height: 100%;
  margin: 3px 3px;
  padding-top: 6%;              
  padding-bottom: 2%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
} */

.toggle_radio label{
    font: 90%/1.618 "Source Sans Pro";
    color: rgba(255,255,255,.9);
    background-color: #616161;
    z-index: 0;
    display: block;
    width: 31%;
    height: 100%;
    margin: 1% 1%;
    padding-top: 6%;
    padding-bottom: 2%;
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}

.toggle_option_slider{

  width: 35%;
  height: 94%;
  position: absolute;
  top: 3%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 1%;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 33%;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 64%;
}

/* Progress Bar Styles */

.holder{
  width: 100%;
  position: relative;
  z-index: 1;
}

.progressbar {
  counter-reset: step;
  padding-left: 10%;
}

.progressbar li{
  float: left;
  width: 15%;
  position: relative;
  text-align: center;
}

/* .progressbar li:before{
  content:"1";
  width: 30px;
  height: 30px;
} */

.progressbar li:before {
  content:counter(step);
  counter-increment: step;
  /* width: 30px;
  height: 30px; */
  width: 30%;
  height: 100%;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 7px auto;
  border-radius: 50%;
  /* line-height: 27px; */
  line-height: 220%;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.progressbar li:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4%;
  background: #979797;
  top: 30%;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:before {
  border-color:#FF9900;
  background: #FF9900;
  color: white
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active + li:after {
    background: #FF9900;
    width: 100%;
}

/* .progressbar-intermediate{
  background: #FF9900;
  width: 100%;
} */

.progressbar li.active + li:before {
    border-color: #FF9900;
    background: #FF9900;
    color: white;
}

ul{
  list-style: none;
}

.modal-content{
  width: 150% !important;
}

.modal{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

