
.login-box{
    padding-left: 60%;
    padding-bottom: 15%;
    padding-top: 0%;
    margin-top: 0%;
}

.login-box input{
    margin: 4%;
    width: 80%;
    background: transparent;
    height: 50%;
    border: none;
    border-bottom: 2px solid #FF9900;
    color: white;
}

.login-box label{   
    margin: 7%;
    color: white;
    font-size: 1.2vw;
    padding-top: 25%;
}

.login-box img{
    width: 100%
}

h2{
    color: white;
    margin: 7%;
}

.login-box button {
    /* background-color: rgba(255, 174, 0, 0.952);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 4px 2px;
    cursor: pointer; */
    background-color: #FF9900;
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 5% 2%;
    cursor: pointer;
}

.login-backdrop {
  margin-top: 1%;
  padding-top: 20%;
  background-image: url('../../assets/images/Petronas_Towers_at_night.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 130%;
  padding: 3%;
}

.center {
    text-align: center;
}
