<div class="login-backdrop">
<div class="col-sm-12">

  <div class="login-box">

      <div class="center">
          <img src="assets/images/logos/FinIQ_logo_u.png">
      </div>
      
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="row">
      <div class="col-sm-2">
        <label>UserName</label>
      </div>
      <div class="col-sm-10">
        <input type="text" formControlName="userName" placeholder="UserName" required>
        <div style="text-align: center" *ngIf="loginForm.controls.userName.hasError('required') && loginForm.controls.userName.touched">
          <span style="color: crimson">UserName is required!</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <label>Password</label>
      </div>
      <div class="col-sm-10">
        <input type="password" formControlName="password"  placeholder="Password" required>
        <div style="text-align: center" *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">
          <span style="color: crimson">Password is required!</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center col-sm-12">
        <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
      </div>
    </div>
    </form>
  </div>
</div>
</div>