
.user-image{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    padding: 5%;
	border-radius: 20%;
	height: 14vw;
}

.thumbnails {
	display: flex;
	text-align: center;
	flex-flow: row wrap;
}

.thumbnails >div{
  width: 20%;
}

.box{
    position: relative;
    width: 100%;
    min-height: 1px;
    margin: 0%;
	padding: 3%;
}

/* image overlay  */

.user-image:hover {
  opacity: 0.3;
}

.thumbnails div span {
	padding: 0;
	color: #FF9900;
	font-size: 1vw;
	text-decoration: none;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.user-image:hover + span {
	opacity: 1 !important; 
}

.user-image-active {
	border-style:solid; 
	border-width:2px; 
	border-color:#FF9900;
	padding : 5%;
}

.user-image-active + span {
	opacity: 1 !important; 
}
