<div class="box">
  <div *ngIf="testerFlag" class="col-sm-12" class="thumbnails">
    <ng-container  *ngFor="let tester of usersList" >
      <div *ngIf="tester.Tester_Flag=='1' && tester.Photo != null">
      <img class="rounded-circle user-image"  src="{{tester.Photo}}" [ngClass]="{'user-image-active': selectedTester == tester}" (click)="selectTester(tester)">
      <span>{{tester.Name}}</span>
      </div>
    </ng-container>
  </div>
  <div *ngIf="managerFlag" class="col-sm-12" class="thumbnails">
    <ng-container   *ngFor="let manager of usersList">
      <div *ngIf="manager.Supervisor_Flag=='1' && manager.Photo != null">
          <img class="rounded-circle user-image"  src="{{manager.Photo}}" [ngClass]="{'user-image-active': selectedManager == manager}" (click)="selectManager(manager)">
      <span>{{manager.Name}}</span>
    </div>
  </ng-container>
</div>
</div>