/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FFFFFF;
    /* Font: normal 15px verdana, segoe ui, Roboto, "sans-serif" !important; */
    Font: normal 1vw verdana, segoe ui, Roboto, "sans-serif" !important;
    color: #464646 !important;
}

input[type="text"], input[type="Date"], textarea
{
    padding: 5px;
    color: #555555;
    border: solid 1px #DDDDDD;
    border-collapse: collapse;
}

.button
{
    padding: 5px !important;
    color: #555555 !important;
    background-color: #F7F7F7 !important;
    border: solid 1px #DDD !important;
    width: 100%;
}

.Header
{
    font: normal 12px/18px verdana, segoe ui, Roboto, "sans-serif" !important;
    height: 18px !important;
    color: #333333 !important;
    background-color: #e7e7e7 !important;
    border-bottom: solid 1px #DDD !important;
    white-space: nowrap !important;
}

.Bold
{
    font: bold 10px/18px verdana, segoe ui, Roboto, "sans-serif";
    height: 18px;
    color: #666666;
    white-space: nowrap;
}

table td
{
    padding: 5px !important;
}

input[type="text"], textarea
{
    width: 350px;
}

.TableSearchResult
{
    min-width:750px;
}

.TableSearchResult td
{
    padding: 5px;
    padding-left: 10px;
}