
.container{
    color: #000!important;
    background-color: #f1f1f1!important;
}

.box{
    padding: 1%;
    margin: 2%; 
}

.logo img{
    width: 90%;
    height: 90%;
}

.logo{
    text-align: center;
}

 .logo label{
    display: inline-block !important;
    padding-top: 1% !important;
    margin-bottom: .5rem !important;
    font-size: 1rem !important;
    Font: normal 2vw verdana, segoe ui, Roboto, "sans-serif" !important;
    color: #464646 !important;
    background-color: #FFFFFF !important;
}

.box-1{
    
    position: relative;
    width: 100%;
    min-height: 70px;
    padding-right: 15px;
    padding-left: 15px;   
    padding-bottom: 1%;
    color: #fff!important;
}

.box-1 label{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-family: normal verdana, segoe ui, Roboto, "sans-serif";
    color: #333333 ;
    background-color: #FFFFFF;
}

.box-2{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding-right: 15px;
    padding-left: 15px;  
}

.box-3{
    position: relative;
    padding: 1%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;    
    color:#333333 !important;
    background-color: #FFFFFF;
    overflow: auto;
}

.test-type-box{
    color: #fff!important;
    padding: 1%;
    width: 100%;
    overflow: auto;
    height: 44vh;
    padding-top: 10%;
}

.logged-in{
    float: right;
    height: 0%;
    padding-top:45% 
}

.box-dashboard{
    border-style: solid;
    border-width: 2px;
    color: #000!important;
    background-color: #f1f1f1!important;
    padding: 0%;
    margin: 0%;
    height: 50vh;
    overflow: auto;
}

.user-image{
    vertical-align: middle;
    border-style: none;
    width: 40%;
    height: 80%;
}

.thumbnails {
	display: flex;
	text-align: center;
	flex-flow: row wrap;
}

.thumbnails >div{
    width: 30%;
  }

.image {
    width: 30%;
    height: 6vw;
    background-color: grey;
}

.caption {
    display: block;
}

.caption label{
    display: inline-block;
    padding-top: 4%;
    margin-bottom: .5rem;
    font-size: 2rem;
    Font: normal 1vw verdana, segoe ui, Roboto, "sans-serif" ;
    color: #464646;
    background-color: #FFFFFF;
}

.caption span{
    display: inline-block;
    padding-top: 2%;
    margin-bottom: .5rem;
    Font: normal 1vw verdana, segoe ui, Roboto, "sans-serif" ;
    color: #464646;
    background-color: #FFFFFF;
}

.td{
    padding: 5%;
    margin: 5%;
}

.selected_option {
    padding: 5px;
    border: solid 1px #DDD !important;
    background-color:  #FF9900;
    color: #FFFFFF;
    width: 100%;
}

.projects{
    display: flex;
    flex-flow: row;
    overflow: auto;
}

.projects >div{
  width: 9%;
  margin: 0.2%;
  padding-bottom: 1%;
}

.icons{
    text-align: center;
    padding : 8%;
    padding-top: 13%;
}

.icons i:active{
    color: #FF9900;
}

.icons-active{ 
    color: #FF9900;
}

.grow img{
    transition: 1s ease;
}

.grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.grow-active{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

div.wrapper {
    position: relative;
    border: 2px solid #464646;
    margin-top: 20px;
    padding: 20px 10px 10px;
}

div.wrapper label {
    color: white;
    line-height: 20px;
    padding: 0px 5px;
    position: absolute;
    background-color: #464646;
    top: -10px;
    left: 10px;
    font-size: 2rem;
    Font: normal 1.2vw verdana, segoe ui, Roboto, "sans-serif";
}






