<div class="box">
  <div class="col-sm-12">
    <div class="box-1">
      <div class="row">
        <div class="split col-sm-2">
          <div class="logo">
            <img src="assets/images/logos/FinIQ_logo_u.png">
            <label> QA AUDIT</label>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="wrapper">
              <label>
                  PROJECT NAME 
              </label>

          <div class="projects">
            <div *ngFor="let project of projectList" >
                   <button class="button" #projectButton (click)="progressStatus('project', project.Project_ID, projectButton, project)">{{project.Project_Name}}</button>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
    <div class="box-2">
      <div class="row">
         
        <div class="col-sm-2">
            <div class="wrapper">
                <label>
                    TESTING TYPE
                </label>
          <div class="test-type-box">
            <div *ngFor="let test of testList">
              <div class="table-responsive">
                <table class="table table-borderless some_style">
                  <tr>
                    <td class="button" #testButton (click)="progressStatus('test', test.Test_ID, testButton, test)">{{test.Testing_Type_Name}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          </div>

        </div>
        <div class="col-sm-10 box-dashboard">
          <div class="">
            <app-employee-selection *ngIf="!isAuditFlag" (employeeSelected)="userSelected($event)" #employee></app-employee-selection>
            <app-project-status *ngIf="isAuditFlag" (auditEvent)="auditSubmitted($event);" #audit></app-project-status> 
          </div>
        </div>
      </div>
    </div>
 
    <div class="box-3">
        <div class="row">
          <div class="col-sm-3">
            <div class="row">
            
            <div class="icons">
           <i class="fa fa-power-off fa-3x" aria-hidden="true" title="Log Out" #logOut (click)="logout()"></i> 
           <div class="caption">
            <span>Log Out</span>
            </div>
           </div>
           
         
           <div class="icons">
                <i class="fa fa-file-text-o fa-3x" aria-hidden="true" title="All Projects List" #allProjects (click)="showAllProjects()"></i>
                <div class="caption">
                  <span>All Projects</span>
                </div>
           </div>
        
           </div>
          </div>
          <div class="col-sm-9">
            <!-- <div class="col-sm-12"> -->
            <div class="thumbnails">
              <!-- <div class="col-sm-4"> -->
              <div class="grow"  *ngIf="selectedTester==undefined">
                <img class="rounded-circle image"  [ngClass]="{'grow-active': selectedUserType == 'tester'}" src="assets/images/profile_image_default.jpg" (click)="selectEmployee('tester');">
                <div class="caption">
                  <span>Staff</span>
                  </div>
              </div>
  
              <div  class="grow"  *ngIf="selectedTester!=undefined">
                <img class="rounded-circle image"  [ngClass]="{'grow-active': selectedUserType == 'tester'}" src="{{selectedTester.Photo}}" (click)="selectEmployee('tester');">
                <div class="caption">
                  <!-- <label>{{selectedTester.Name | uppercase}}</label> -->
                  <label>{{selectedTester.Name}}</label>
                </div>
                <div class="caption">
                  <span>Selected Staff</span>
                </div>
              </div>
              <!-- </div> -->

              <!-- <div class="col-sm-4"> -->

                  <div class="grow"  *ngIf="selectedManager==undefined">
                      <img class="rounded-circle image"  [ngClass]="{'grow-active': selectedUserType == 'manager'}" src="assets/images/profile_image_default.jpg" (click)="selectEmployee('manager');">
                      <div class="caption">
                        <span>Lead</span>
                        </div>
                    </div>
        
                    <div class="grow"  *ngIf="selectedManager!=undefined">
                      <img class="rounded-circle image"  [ngClass]="{'grow-active': selectedUserType == 'manager'}" src="{{selectedManager.Photo}}" (click)="selectEmployee('manager');">
                      <div class="caption">
                        <label>{{selectedManager.Name}}</label>
                        <!-- <label>{{selectedManager.Name | uppercase}}</label> -->
                      </div>
                      <div class="caption">
                        <span>Selected Lead</span>
                      </div>
                    </div>
              <!-- </div> -->

              <!-- <div class="col-sm-4" > -->
             
              <div *ngIf="loggedInUser.Photo==null">
                <img class="rounded-circle image"  src="assets/images/profile_image_default.jpg">
                <div class="caption">
                  <label>{{loggedInUser.Name}}</label>
                </div>
                <div class="caption">
                  <span>Checker</span>
                  </div>
              </div>
  
              <div *ngIf="loggedInUser.Photo!=null">
                <img class="rounded-circle image"  src="{{loggedInUser.Photo}}">
                <div class="caption">
                  <!-- <label>{{loggedInUser.Name | uppercase}}</label> -->
                  <label>{{loggedInUser.Name}}</label>
                </div>
                <div class="caption">
                  <span>Checker</span>
                </div>
              </div>
              <!-- </div> -->
              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

</div>
</div>